*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    min-height: 100vh;
    background: linear-gradient(135deg, #0F2027, #203A43, #2C5364);
    color: white;
}

#header{
    position: sticky;
    top: 0;
    height: 70px;
    background: linear-gradient(90deg, #136e87,rgba(0, 0, 0, 0));
    display: flex;
    align-items: center;
    box-shadow:  0px 4px 15px rgba(0,0,0,0.4);
}

#nav, ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 88px;
    list-style: none;
    margin: 0 20px;
}

li{
    font-size: 20px;
}

a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: 500;
    transition: 0.3s ease;
}

a:hover{
    color: rgb(165, 109, 234);
}

#img1{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin:  auto;
    display: block;
    object-fit: cover;
    box-shadow: 0 10px 30px rgba(145, 205, 248, 0.879);
    border: 4px solid rgb(12, 151, 169);
    margin-top: 30px;
}

#bio{
    text-align: center;
    padding: 20px;
    max-width: 100px;
    margin: auto;
}

#bio h1{
    font-size: 30px;
    margin-bottom: 10px;
    color: rgb(142, 114, 168);
}

#bio h3{
    font-size: 17px;
    line-height: 1.7;
    color: rgb(227, 220, 220);
}

.div{
    background: linear-gradient(135deg, black, #414345);
    padding: 85px;
    margin: 75px;
    border-radius: 25px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.7);
    transition: all 0.4s ease;
}

.div:hover{
    background: linear-gradient(135deg, #1d435000, #8311cf);
    transform: translateY(5px);
}

footer{
    background: linear-gradient(90deg, #063b4a, #c5c5c800);
    text-align: center;
    padding: 15px;
    font-size: 14px;
    margin-top: 40px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}


   